@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
    <main>
        <div class="top-row px-4 d-flex justify-content-end gap-3">


            <NavLink class="nav-link" href="/CreateUser" ActiveClass="active">
                CreateUser  DEV
            </NavLink>

            <NavLink class="nav-link" href="/Login" ActiveClass="active">
                Login  DEV
            </NavLink>

            <NavLink class="nav-link" href="/UserProfile" ActiveClass="active">
                Profil  DEV
            </NavLink>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
