@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4 d-flex justify-content-end gap-3">
            <!-- Ny Home-knap -->
            <NavLink class="nav-link" href="/" ActiveClass="active">
                Home
            </NavLink>

            <!-- Eksisterende Database-link -->
            <NavLink class="nav-link" href="/database" ActiveClass="active">
                Database  DEV  
            </NavLink>

            <NavLink class="nav-link" href="/ListingsDetailsPage" ActiveClass="active">
                Details Page  DEV 
            </NavLink>

            <NavLink class="nav-link" href="/ListingsPage" ActiveClass="active">
                Listings  DEV
            </NavLink>

            <NavLink class="nav-link" href="/CreateUser" ActiveClass="active">
                CreateUser  DEV
            </NavLink>

            <NavLink class="nav-link" href="/Login" ActiveClass="active">
                Login  DEV
            </NavLink>

            <NavLink class="nav-link" href="/UserProfile" ActiveClass="active">
                Profil  DEV
            </NavLink>

            <NavLink class="nav-link" href="/CreateListing" ActiveClass="active">
                Create Listing  DEV
            </NavLink>

            <!-- Eksisterende About-link -->
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">
                About
            </a>





        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
