@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/images/Logo.png" alt="LaptopMarket Logo" style="height: 70px;" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
                aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center gap-lg-3">
                <li class="nav-item"><NavLink class="nav-link" href="/ListingPage" ActiveClass="active">Annoncer</NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" href="/CreateListing" ActiveClass="active">Opret Annonce</NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" href="/CreateUser" ActiveClass="active">Opret Konto</NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" href="/Login" ActiveClass="active">Log ind</NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" href="/UserProfile" ActiveClass="active">Min Profil DEVVVVV </NavLink></li>
            </ul>
        </div>
    </div>
</nav>

<main>
    <article class="container py-4 content">
        @Body
    </article>
</main>