<<<<<<< HEAD
﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor-Markedsplads</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Homepage1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Homepage1
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListingsPage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ListingsPage
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListingsDetailsPage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ListingsDetailsPage
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListingsDetailsPage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ListingsDetailsPage
            </NavLink>
        </div>

    </nav>
</div>

=======
﻿ <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
     <span class="oi oi-home" aria-hidden="true"></span> Home
 </NavLink>
+
+<NavLink class="nav-link" href="database">
+    <span class="oi oi-database" aria-hidden="true"></span> Database
+</NavLink>
>>>>>>> 5978b517654461e920b2dd0eefef621f62c20aa0
